<html>

    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <title>Sorter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="/sorter.css">
    </head>


    <body>
        <div id="preloader">
          <div id="status">&nbsp;</div>
          <div id="statusMessage">Loading Interface</div>
        </div>

        <script>

            $(window).on('load', function() { // makes sure the whole site is loaded
              $('#status').fadeOut(); // will first fade out the loading animation
              $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
              $('body').delay(350).css({'overflow':'visible'});
            })

        </script>


        <div id="navbar">
            <h4 id="title" class="nav">Internship Sorter</h4>
            <a href="/admin">Back to Admin Panel</a>
            <a id="logOut" href='' class="nav">Log Out</a>
       </div>


        <div id="flexbox">
            <div id="mainContainer">
                <div id="buttonContainer">
                    <button id="sort">Click To Sort</button>
                    <button id="pdf">Save Output</button>
                </div>

                <div id="sortContainer">
                    <div id="console">
                        <h4>Script Console</h4>
                        <div id="consoleLog" class = "infoLog"></div>
                    </div>

                    <div id ="output">
                        <h4>Output</h4>
                        <div id="outputLog" class="infoLog"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <script src='/pdfmake.min.js'></script>
        <script src='/vfs_fonts.js'></script>
        <script src = "/sorter.js"></script>

    </body>

</html>
